@import './variables/fonts.modules.css';
@import './variables/colors.modules.css';
@import './modal.css';
@import './reset.css';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,

body {
    font-family: var(--font-family-sans-serif);
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    overflow-y: scroll;
    display: flex;
    background: #f0f2f5;
    flex-direction: column;
}

a {
    color: #5468ff;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

article {
    border-bottom: 1px solid var(--ds-gray-300);
    padding: 8px 24px 8px 24px;
}
article:hover, article:hover > a > h2 {
    background: var(--ds-blue-700);
    color: var(--ds-white);
}

#categories,
#brands {
    margin-bottom: 24px;
}

#categories,
#brands,
#price {
    margin-right: 24px;
    padding: 8px 0;
}

#categories,
#brands,
#price,
.ais-hits--item {
    height: auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.left-panel {
    flex: 0 0 290px;
}

.right-panel {
    width: calc(100% - 306px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#stats {
    flex-grow: 0;
    margin-bottom: 16px;
}

.ais-stats {
    font-size: 12px;
    color: #697782;
    opacity: 1;
}

#hits {
    flex-grow: 1;
}

.ais-hits {
    display: inline-block;
    flex-wrap: wrap;
}

.ais-Hits ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ais-refinement-list--header,
.ais-range-slider--header {
    font-weight: bolder;
    margin: 0;
    padding: 0 16px 8px;
    font-size: inherit;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.ais-hits--item {
    margin-bottom: 24px;
}

.hit {
    display: flex;
    padding: 16px;
}

.hit-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hit-image {
    display: flex;
    margin-right: 24px;
}

.hit-image img {
    width: auto;
    max-height: 176px;
}

.hit-name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 16px;
}

.hit-price {
    font-size: 16px;
}

.hit-description {
    color: rgb(153, 153, 153);
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 16px;
}

.ais-refinement-list--item {
    padding: 8px 16px;
}

.ais-refinement-list--label,
.ais-refinement-list--label:hover {
    color: black;
}

.ais-refinement-list--count {
    background: none;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    color: #999;
    float: right;
}

.ais-refinement-list--checkbox {
    margin: 0 5px 0 0;
}

.ais-refinement-list--item__active .ais-refinement-list--label,
.ais-refinement-list--item__active .ais-refinement-list--count {
    font-weight: normal;
}

.sbx-sffv {
    display: block;
    font-weight: normal;
    height: auto;
    border-bottom: 1px solid #eee;
}

.sbx-sffv__input:hover,
.sbx-sffv__input:active,
.sbx-sffv__input:focus {
    box-shadow: none;
}

.sbx-sffv svg,
.sbx-sffv svg use {
    fill: #848ab8;
    width: 8px;
    height: 8px;
}
.sbx-sffv__reset {
    top: 9px;
    right: 5px;
}

.sbx-sffv__input {
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    padding: 0;
    padding: 8px 16px 8px 24px;
    padding-left: 24px;
    width: 100%;
    height: auto;
    white-space: normal;
    font-size: inherit;
    display: block;
    -webkit-appearance: none;
    appearance: none;
}

.ais-range-slider--handle {
    width: 19px;
    height: 19px;
    border: solid 2px #5468ff;
}

.ais-range-slider .rheostat {
    margin: 32px 0;
}

.ais-range-slider .rheostat-horizontal .rheostat-handle {
    top: -6px;
}

.ais-range-slider .rheostat-horizontal .rheostat-progress {
    height: 5px;
    top: 1px;
    background: #5468ff;
}

.ais-range-slider--marker {
    display: none;
}

.ais-range-slider--body {
    padding: 0 11px 0 16px;
}

.ais-range-slider .rheostat-horizontal .rheostat-background {
    height: 3px;
    top: 2px;
    width: 100%;
    background-color: #ddd;
}

.ais-range-slider--tooltip {
    background: transparent;
}

footer {
    flex-grow: 0;
    text-align: center;
    font-size: 12px;
    color: #999;
}

/* Placeholders */
#hits:empty:before,
#categories:empty:before,
#stats:empty:before,
#brands:empty:before,
#price:empty:before {
    display: block;
    color: rgb(153, 153, 153);
    padding: 16px;
}

hits:empty,
categories:empty,
stats:empty,
brands:empty,
price:empty {
    padding: 0;
    background: none;
    border: dashed 3px #ddd;
    box-shadow: none;
    border-radius: 4px;
}

hits:empty,
categories:empty,
brands:empty {
    margin-bottom: 24px;
}

hits:empty:before {
    content: "Uncomment the hits widget to add hits list.";
}

#stats:empty:before {
    content: "Uncomment the stats widget to add search stats.";
}

#categories:empty:before {
    content: "Uncomment the categories widget to add categories list.";
}

/* CUSTOM */

.ais-Highlight-highlighted, .ais-Snippet-highlighted {
    background: var(--ds-blue-100);
}


/* Breadcrumbs */
.ais-Breadcrumb ul {
    list-style-type: none;
}

.ais-Breadcrumb-link {
    cursor: pointer;
}

#app {
    display: flex;
}

.myCrumb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    --text-opacity: 1;
    color: rgba(129,145,247,var(--text-opacity));
}

